@inherits LayoutComponentBase

<PageTitle>WyrmChat</PageTitle>

<div class="page">
    <div class="sidebar">
        <div style="text-align:center;">
            <WyrmChat.Components.ChatBox />
        </div>
    </div>

    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
